<div class="container-fluid">
    <div class="row">
        <div class="text-center col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <img src="../../../assets/fotoperfil.png" alt="fotoperfil1"><a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <h1 id="nombre">Braian Torres</h1>
            <h2>Programador Full Stack Jr <a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a></h2>
            
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <h1 id="acercade">Acerca de..  <a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a></h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia quod est aut nulla quibusdam nobis,
                quisquam delectus nemo? Nemo ratione voluptas adipisci quasi labore laboriosam recusandae dignissimos
                vitae voluptatem illo! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, eius quis! Culpa voluptatum corporis facere dolores veritatis eos obcaecati nostrum tempore! Accusamus rerum quae similique, a exercitationem enim iure doloribus?</p>
        </div>
    </div>
</div>