@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@100&display=swap');

#nombre{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    
}
h2 {
  color: #fff;
  
}
p {
  color: #fff;
  font-family: 'Didact Gothic', sans-serif;
}
img {
  position: relative;
  border-radius: 50%;
  width: 152px;
  height: 152px;
  margin-top: -85px;
  z-index: 1;
}

#acercade {
    color: #fff;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  font-family: 'Didact Gothic', sans-serif;
}
.fa-pencil{
  font-size: 20px;
  margin-right: 20px;
}
*{
  color: #fff;
  background-color: #191c32;
}