<nav class="container-fluid">
    <div class="row">
        <div class="text-center col-xs-12 col-sm-12 col-md-2 aplogo">
            <img src="../../../assets/aplogo2.png" class="img-fluid" alt="ap">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6"></div>
        <div class="col-xs-12 col-sm-12 col-md-3 logos">
            <a href="#"><img src="../../../assets/linkedin.png" class="float-right" alt="linkedin" height="40" width="40"></a>
            <a class="ml-auto" href="#"><img src="../../../assets/github.png" alt="github" height="40" width="40" ></a>
            
        </div>
        <div class="text-center col-xs-12 col-sm-12 col-md-1 boton">
            <button type="button" class="btn btn-outline-light">Inicio</button>
        </div>
    </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>