.aplogo{
    margin-top: 7px;
    margin-bottom: 7px;
}
.aplogo img{
    height: 40px;
}
.logos{
    margin-top: 7px;
    margin-bottom: 7px;
    
    
}

.logos img{
    height: 40px;
    margin-left: 3px;
    margin-right: 3px;

}
.btn{
    margin-top: 7px;
    margin-bottom: 7px;
}
