
<div class="row">
    <h1>Proyectos <button type="button" class="btn btn-dark" routerLink="/addproyecto" *ngIf="isLogged">
        <i class="fa fa-plus"></i>
    </button></h1>
    <div class="contenedor" *ngFor="let proyectos of proyectos">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1" >
                <h2><b>{{proyectos.nombre}}</b></h2>
                <p>{{proyectos.detalle}}</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
               <a href="#"> <img src="{{proyectos.img}}" class="img-fluid img-proyecto" ></a>
            </div>
            <div class="text-center">
                <button *ngIf="isLogged" class="btn btn-light" routerLink="/editproyecto/{{proyectos.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
               
                <button *ngIf="isLogged" class="btn btn-danger" (click)="delete(proyectos.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </div>
        </div>
    </div>
</div>