<div class="container-fluid">
  <br />
  <div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-md-4">
      <h2>HTML</h2>
      <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/htmllogo.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'aqua'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
      >
      </circle-progress>
    </div>
    <div class="text-center col-md-4">
      <h2>CSS</h2>
      <circle-progress
        [percent]="50"
        [radius]="100"
        [imageSrc]="'../assets/csslogo.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'aqua'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
      >
      </circle-progress>
    </div>
    <div class="text-center col-md-4">
      <h2>JavaScript</h2>
      <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/jslogo.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'aqua'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
      >
      </circle-progress>
    </div>
    <div class="text-center col-md-4">
      <h2>Angular</h2>
      <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../assets/angularlogo.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'aqua'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
      >
      </circle-progress>
    </div>
    <div class="text-center col-md-4">
      <h2>Node JS</h2>
      <circle-progress
        [percent]="55"
        [radius]="100"
        [imageSrc]="'../assets/nodejslogo.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'aqua'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
      >
      </circle-progress>
    </div>
  </div>
</div>
