<div class="container-fluid">
  <br />
  <div class="row">
    <h1>Hard & Soft Skills <button type="button" class="btn btn-dark" routerLink="/addskill" *ngIf="isLogged">
      <i class="fa fa-plus"></i>
  </button></h1>

    <div class="text-center col-md-4" *ngFor="let skill of skill">
      <h2>{{skill.nombre}}</h2>
      <circle-progress
        [percent]="(skill.porcentaje)"
        [radius]="100"
        [imageSrc]="(skill.img)"
        [title]="(skill.nombre)"
        [showTitle]="false"
        [titleColor]="'#fff'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="90"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'aqua'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="300"
      >
      </circle-progress>

      <div class="text-center">
        <button *ngIf="isLogged" class="btn btn-light" routerLink="/editskill/{{skill.id}}">
            <i class="bi bi-pencil-fill"></i></button>
        <button *ngIf="isLogged" class="btn btn-danger" (click)="delete(skill.id)">
            <i class="bi bi-trash-fill"></i></button>
    </div>
    </div>
    