<div class="container-fluid">
    <div class="row">
        <h1>Educación <i class="fa fa-plus-circle" aria-hidden="true"></i></h1>
        <div class="text-center col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <img class="img-fluid" src="../../../assets/unlam2.png" width="200px" alt="unlam">
            <br>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <ul>
                <li>
                    <h2>{{educacion.nombre}}</h2> - <h4>({{educacion.anio_ingreso}}-{{educacion.anio_fin}})</h4>
                </li>
                <p>{{educacion.detalle}}</p>
            </ul>
        </div>
        <div class="text-center col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
    </div>
</div>