<div class="container-fluid">
    <div class="row">
        <h1>Educación <a routerLink="/agregar-educacion"><i class="fa fa-plus" aria-hidden="true"></i></a></h1>
        <div class="text-center col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <img class="img-fluid" src="../../../assets/unlam2.png" width="200px" alt="unlam">
            <br>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <ul>
                <li>
                    <h2>{{educacion.nombre}}</h2> - <h4>(-)</h4>
                </li>
                <p></p>
            </ul>
        </div>
        <div class="text-center col-xs-12 col-sm-12 col-md-1 col-lg-1">
            <a routerLink="/editar-educacion"><i class="img-fluid fa fa-pencil"></i></a>
            <a href=""><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
