@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
*{
    color: #fff;
}

h2,h4{
    display: inline;
    font-family: 'Montserrat', sans-serif;
}
img{
    position: relative;
}
h1{
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}

.fa-pencil{
    margin-right: 20px;
}
.fa-plus{
    font-size: 20px;
    margin-right: 20px;
}