<div class="container-fluid">
    <div class="row">
        <h1>Experiencia Laboral <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
                <i class="fa fa-plus"></i>
            </button></h1>

    </div>

    <ul *ngFor="let Experiencia of expe">
        <li>
            <h2 class="text-center">{{Experiencia.nombreE}}</h2>
            <h4>({{Experiencia.anio_inicioE}}-{{Experiencia.anio_finE}})
            </h4>
        </li>
        <li>
            <h3>{{Experiencia.sedeE}}</h3>
        </li>
        <div class="container-fluid">
            <p class="text-break text-center">{{Experiencia.descripcionE}}</p>
        </div>

        <div class="text-center">
            <button *ngIf="isLogged" class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                <i class="bi bi-pencil-fill"></i></button>
            <button *ngIf="isLogged" class="btn btn-danger" (click)="delete(Experiencia.id)">
                <i class="bi bi-trash-fill"></i></button>
        </div>
    </ul>
</div>