@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

#nombre{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    
}
h2 {
  color: #fff;
  
}
p {
  color: #fff;
}
img {
  position: relative;
  border-radius: 50%;
  width: 152px;
  height: 152px;
  margin-top: -85px;
  z-index: 1;
}

#acercade {
    color: #fff;
  margin: 25px auto;
}
