<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <img src="../../../assets/fotoperfil.png" alt="fotoperfil1">
        </div>
        <div class="col-xs-12 col-md-6">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia quod est aut nulla quibusdam nobis,
                quisquam delectus nemo? Nemo ratione voluptas adipisci quasi labore laboriosam recusandae dignissimos
                vitae voluptatem illo!</p>
        </div>
        <div class="col-xs-12 col-md-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore iure odit laborum fugiat non deserunt quia? Dolorum perferendis consequatur alias provident quae nemo sequi! Quo maxime facere neque obcaecati recusandae.</p>
        </div>
    </div>
</div>