<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <img src="../../../assets/fotoperfil.png" alt="fotoperfil1">
            <h1 id="nombre">Braian Torres</h1>
            <h2>Programador Full Stack Jr</h2>
        </div>
        <div class="col-xs-12 col-md-9">
            <h1 id="acercade">Acerca de..</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia quod est aut nulla quibusdam nobis,
                quisquam delectus nemo? Nemo ratione voluptas adipisci quasi labore laboriosam recusandae dignissimos
                vitae voluptatem illo!</p>
        </div>
    </div>
</div>